:root {
  --color-dark: #13203d;
  --color-darkest: #0c1c2c;
  --color-dark-mid: #0d4c6b70;

  --color-light: #f4f5f6;
  --color-highlight: #5eedcf;
  --color-highlight-neon: #ed2af1;
  --color-highlight-base: #e0c705;

  --color-highlight-neon2: #21d4fd;
  --color-highlight-base2: #b721ff;


  --gradient-rainbow: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );

  --gradient-cool: linear-gradient(
    180deg,
    rgba(192,0,255,1),
    rgba(0,46,255,1),
    rgba(0,255,243,1),
    rgba(0,46,255,1),
    rgba(192,0,255,1)
    );

  --border-radius: 15px;
}

html,
body {
  background-color: var(--color-darkest);
  scroll-behavior: smooth;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
}

p {
  text-shadow: 2px 2px 5px #030303;
}

/* Main */
.top-scene-container,
.bottom-scene-container {
  background-image: url("../../../public/img/cyberpunk.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hue;
}

main .about-col {
  margin-top: 10vh;
}


.headers2 {
  background-image: linear-gradient(
    100deg,
    var(--color-highlight-neon),
    var(--color-highlight-base)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main h1 span {
  color: var(--color-highlight);
  display: block;
}

main p {
  color: var(--color-light);
}

#two-things {
  background-color: rgba(12, 4, 23, 0.713);
  box-shadow: inset 0px 50px 60px rgba(10, 9, 3, 0.117);
  text-align: center;
  color: var(--color-light);
}

#two-things .icon {
  font-size: calc(3.5rem + 4vw);
  height: 100px;
}

#two-things h3 {
  font-size: 40px;
  color: var(--color-highlight);
}

#two-things a.easter-egg {
  cursor: url("../../../public/cursor/bulbasaur.cur"), auto;
}

#two-things .easter-egg-2 {
  cursor: url("../../../public/cursor/blastoise.cur"), auto;
}

/* ABOUT */

#about {
  background-color: var(--color-darkest);
}

#skills {
  background-color: var(--color-dark);

  & img {
    width: 10%;
    padding: 5px;
  }

  & skills-text {
    color: white;
    border-bottom: #030303 solid 10px;
  }
}

#social {
  max-width: 550px;

  & img {
    width: 50px;
    height: auto;
    display: "inline-block";
    filter: invert(1);
  }
}

.border-style {
  border: 7px solid var(--color-dark-mid);
  border-radius: var(--border-radius);
}

.button-style {
  background-image: linear-gradient(
    72deg,
    var(--color-highlight-neon),
    var(--color-highlight-base)
  );
  background-clip: text;
  border: 1px solid var(--color-highlight-neon);
  border-radius: 0;
}

.footer,
.bottom-scene-container {
  background-color: #000000a4;
  background-image: url("../../../public/img/cyberpunk3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hue;
}
