/* Gallery Container */
#portfolio {
    background-image: url("../../../public/img/cyberpunk2.png");
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
  }

  .portfolio-card {
    cursor: pointer;

    & img {
      width: 7.5em;
      height: auto;
      }

  }
