@use '../components/Intro/intro';
@use '../components/Footer/footer';
@use './Fonts.scss';


:root {
  --color-dark: #0a1b3f;
  --color-darkest: #0c1c2c;
  --color-dark-mid: #0d4c6b70;

  --color-light: #f4f5f6;
  --color-highlight: #5eedcf;
  --color-highlight-neon: #f12a91;
  --color-highlight-base: #c2ff33;
  --color-main-bg: #e5f4e2;
  --color-main-header: #d3e1da;

  --color-highlight-neon2: #fdb421;
  --color-highlight-base2: #b721ff;

  --global-radius: 15px;
}

html,
body {
  background-color: var(--color-dark);
}

p {
  text-shadow: 2px 2px 5px #030303;
}

/* Main */
.top-scene-container,
.bottom-scene-container  {
  background-color: var(--color-main-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode:multiply;
}

h1 h2 h3 {
  font-family: 'BD Telegraph Medium-Normal';
}

main h1 {
  background-image: linear-gradient(72deg, var(--color-highlight-neon), var(--color-highlight-base));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main p {
  color: var(--color-light);
}

#two-things {
  background-color: rgba(12, 4, 23, 0.713);
  box-shadow: inset 0px 50px 60px rgba(10, 9, 3, 0.117);
  text-align: center;
  color: var(--color-light);
}

#two-things .icon {
  font-size: calc(3.5rem + 4vw);
  height: 150px;
  margin: 5px;
}

#two-things h3 {
  font-size: 40px;
  color: var(--color-highlight);
}

#two-things a.easter-egg {
  cursor: url("../../public/cursor/bulbasaur.cur"), auto;
}

#two-things .easter-egg-2 {
  cursor: url("../../public/cursor/blastoise.cur"), auto;
}

/* ABOUT */

#about {
  background-color: var(--color-darkest);
}

#skills {
  background-color: var(--color-dark);

  & img {
    width: 10%;
    padding: 5px;
  }

  & skills-text {
    color: white;
    border-bottom: #030303 solid 10px;
  }
}

.border-style {
  border: 7px solid var(--color-dark-mid);
  border-radius: var(--global-radius);
}

.button-style {
  background-image: linear-gradient(
    72deg,
    var(--color-highlight-neon),
    var(--color-highlight-base)
  );
  background-clip: text;
  border: 1px solid var(--color-highlight-neon);
  border-radius: 0;
}

.footer,
.bottom-scene-container {
  background-color: #000000a4;
  background-image: url("../../public/img/cyberpunk3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hue;
}
