// https://typedifferent.com/fonts/bd-micronfont
@font-face {
    font-family: 'BD MicronFont Regular';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.fontdue.com/typedifferent/fonts/5fb0a5a5b25559c89eab902eb4ff8987f1897e1a.woff2') format('woff2'), url('https://fonts.fontdue.com/typedifferent/fonts/5fb0a5a5b25559c89eab902eb4ff8987f1897e1a.woff') format('woff');
  }

//  https://typedifferent.com/fonts/bd-telegraph
  @font-face {
    font-family: 'BD Telegraph Medium-Normal';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.fontdue.com/typedifferent/fonts/17c23e2e9ad4dc2b31cc8fc8ed205c5f6660fa23.woff2') format('woff2'), url('https://fonts.fontdue.com/typedifferent/fonts/17c23e2e9ad4dc2b31cc8fc8ed205c5f6660fa23.woff') format('woff');
  }

// https://typedifferent.com/fonts/bd-colonius
@font-face {
  font-family: 'BD Colonius Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/typedifferent/fonts/59ea3d2b3e1099003ed366f09de9a0faa2aeef1f.woff2') format('woff2'), url('https://fonts.fontdue.com/typedifferent/fonts/59ea3d2b3e1099003ed366f09de9a0faa2aeef1f.woff') format('woff');
}
